// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Main colors for HereAfter App
$purple-main: #5A189A;
$purple-main-lighter: #AA89CB;
$purple-main-light: #E9E1F1;
$our-white: #F1F1F1;
$our-black: #333333;
$dark-black: #000000;


// Transition variable
$standard-transition: 400ms;
