
<% if capsule.owner.avatar_photo.present? %>
  <img class="inbox-avatar-cartoon" src="<%= capsule.owner.avatar_photo %>">
<% else %>
  <div class="inbox-avatar"><%= capsule.owner.first_name[0].upcase %></div>
<% end %>
