
<% if capsule.owner.avatar_photo.present? %>
  <%= link_to profile_id_path(capsule.owner) do %>
    <img class="inbox-avatar-cartoon" src="<%= capsule.owner.avatar_photo %>">
  <% end %>
<% else %>
  <%= link_to profile_id_path(capsule.owner) do %>
    <div class="inbox-avatar"><%= capsule.owner.first_name[0].upcase %></div>
  <% end %>
<% end %>
