<div class="sidebar" >

  <div class="profile-container p-3">
  <% if user_signed_in? %>
    <h4 class="username"><%= "#{current_user.first_name } #{current_user.last_name}" %></h4>
  <% end %>
    <%= image_tag "https://avatars.githubusercontent.com/u/414418?v=4", class: "avatar-bordered avatar-profile", alt: "avatar-bordered" %>

    <p class="traveller-info">Time Traveller Rookie - Level 1</p>

  <div class="progress" style="height: 14px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
  </div>

  </div>

  <ul class="tabs-container mt-3 flex-column">

    <%= link_to inbox_path, class: "sidebar-tab p-3 m-1" do%>
      <li >
        <i class="main-icon fas fa-capsules ml-2"></i><span class="ml-3">Your Capsules</span>
      </li>
    <% end %>

    <li class="sidebar-tab p-3 m-1">
      <i class="main-icon fas fa-stopwatch ml-2"></i><span class="ml-3">Incoming</span>
    </li>

    <li class="sidebar-tab p-3 m-1">
      <i class="main-icon fas fa-paper-plane ml-2"></i><span class="ml-3">Outgoing</span>
    </li>


    <li class="sidebar-tab p-3 m-1">

      <svg class="ml-2" width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 3.13956e-07H18.5C21.5376 3.13956e-07 24 2.46243 24 5.5C24 8.53757 21.5376 11 18.5 11H14V3.13956e-07Z" fill="#5A189A"/>
        <path d="M10 11H5.5C2.46243 11 -2.65552e-07 8.53757 0 5.5C2.65553e-07 2.46243 2.46243 -2.65552e-07 5.5 0L10 3.93403e-07L10 11Z" fill="#5A189A"/>
      </svg>

     <span class="m-1 ml-3">Opened</span>

    </li>

    <%= link_to badges_path, class: "sidebar-tab p-3 m-1" do %>
      <li>
        <i class="main-icon fas fa-certificate ml-2"></i><span class="ml-3">Badges</span>
      </li>
    <% end %>
  </ul>

</div>
