<div class="banner text-dropshadow">
  <%= video_tag "/assets/videos/background-video-banner.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "background_video" %>
  <div class="container-main">

    <div class="title-container">
      <%= image_tag "logo_simple_hereafter.png", class: "banner-main-logo" %>

      <h1> <strong class="main-title mt-3">Here<span style="color: #AA89CB;">After</span></strong> </h1>
    </div>

    <h2 class="m-4">Communicate with tomorrow, today!</h2>
    <h3 class="subtitle-banner m-4">Send capsules to yourself or your loved ones to be opened in the future.</h3>

    <div class="wrapper d-flex justify-content-center">
      <%= link_to "Sign Up Now!", "", data: {toggle: "modal", target: ".signin_bd-example-modal"}, class: "drop-shadow primary-button sign-up mt-3" %>
    </div>
  </div>
</div>

<%= render 'shared/signup_form' %>
