<%= render 'shared/sidebar' %>

<div class="body-container">
  <div class="inbox-title">
    <h1>Opened Capsules</h1>
    <%= link_to "+ CAPSULE", "", data: {toggle: "modal", target: ".create_capsule_bd-example-modal"}, class: "primary-button drop-shadow" %>
  </div>
  <div class="inbox-container">
    <!-- arrived & read -->
    <% current_user.capsules.arrived.read.each do |capsule| %>
     <%= render 'shared/inbox_capsule_card_read', capsule: capsule %>
    <% end %>
  </div>
  <%= render 'shared/capsule_creation' %>
</div>
