.back-button {
  color: $purple-main-lighter;
  font-size: 32px;
  transition: $standard-transition;
  &:hover {
    color: $purple-main;
  }
}

.back-button-badges {
  position: absolute;
  right: 100px;
  top: 100px;
}

.badge-image-show {
  width: 300px;
}

.badge-description {
  text-align: center;
  color: $our-black;
  opacity: 0.87;
}

.card-product {
  overflow: hidden;
  height: 300px;
  display: flex;
  align-items: center;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.inbox-container-badge-show {
  margin-top: 10px;
  margin-right: 50px;
  padding: 30px;
  background: #FFFFFF;
  overflow-y: scroll;
  /* 03 dp */

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.badge-show-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-correct {
  position: absolute;
  left: 290px;
  top: 105px;
}

.badges-anchor {
  position: relative;
}

.extra-title-ml {
  margin-left: 20px;
}
