// PRIMARY BUTTON \\

.primary-button {
  display: flex;
  align-items: center;
  justify-content:center;
  background: $purple-main;
  width: 150px;
  height: 48px;
  border-radius: 28px;
  color: $our-white;
  transition: $standard-transition;
  a {
    opacity: 0.77;
  }

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  border-style: none;

   &:hover {
    color: $our-white;
    text-decoration: none;
    opacity: 0.6;
  }
}


// SECONDARY BUTTON \\

.secondary-button {
  display: flex;
  align-items: center;
  border: 2px solid $purple-main;
  border-radius: 28px;
  color: $purple-main;
  font-style: normal;
  height: 48px;
  justify-content:center;
  width: 150px;
  transition: $standard-transition;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  opacity: 0.6;
  a {
    color: $purple-main;
    opacity: 0.6;
    text-decoration: none;

    &:hover {
    color: $purple-main;
    opacity: 1;
    text-decoration: none;
    }
  }

   &:hover {
    color: $purple-main;
    opacity: 1;
  }
}
