.capsule-title-container {
  display: flex;
  align-items: center;
}


.capsule-details-container {
  display: block;
  flex-grow: 1;
}

.capsule-details-dates {

  p {
    margin: 0;
  }
}

.capsule-buttons-align {
    display: flex;
    justify-content: center;
}


.capsule-open-owner-name {
    text-align: right;
    margin-left: 1rem;
}

.details-open {
    font-size: 8px;
    opacity: 0.6;
}

.capsule-avatar-cartoon {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 0px;
  background: $purple-main-lighter;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  min-width: 50px;
  &:hover {
    opacity: 1;
  }
}

.open-avatar {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 0px;
    background: $purple-main-lighter;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    min-width: 50px;
    &:hover {
      opacity: 1;
    }
  }
