
.inbox-title {
  padding: 10px 60px 10px 20px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-style: normal;
  color: $our-black;


  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 1.25px;
}

.inbox-container {

  margin-top: 10px;
  margin-right: 50px;
  padding: 30px;
  height: 630px;
  background: #FFFFFF;
  overflow-y: scroll;
  /* 03 dp */

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.inbox-container::-webkit-scrollbar {
  display: none;
}

#countdown  {
  display: inline;
}
