body a {
  &:hover {
    text-decoration: none;
  }
}

.inbox-card {
  color: $our-black;
  display: flex;
  justify-content:space-between;
  padding: 15px 70px 15px 15px;
  border-bottom: 2px solid rgb(240, 240, 240);
  transition: $standard-transition;
  border-radius: 5px;
    h1, h2, h3, h4, p, em, strong {
      text-decoration: none;
    }
  &:hover {
    background: #fbf7ff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-bottom: 2px solid #fbf7ff;
    h1, h2, h3, h4, p, em, strong a {
      opacity: 1;
      text-decoration: none;
    }
    h2 {
      color: $dark-black;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.inbox-avatar {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 0px;
  background: $purple-main-lighter;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  &:hover {
    opacity: 1;
  }
}

.name-date-sent {
  margin-left: 10px;
  p {
    margin-bottom: 0;
    font-size: 12px;
    em {
      font-size: 16px;
    }
  }
}

.capsule-owner h2 {
  color: $our-black;
  font-size: 20px;
  margin-bottom: 2px;
}

.capsule-sent {
  display: flex;
  justify-content: flex-start;
}

.purple-sent {
  color: $purple-main-lighter;
}

.inbox-timer-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  strong {
    color: $purple-main;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.inbox-card-left {
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inbox-card-right {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inbox-capsule-icon {
  background: $purple-main;
  width: 33px;
  height: 16px;
  border-radius: 15px;
  margin-bottom: 4px;
}

.inbox-arrives {
  p {
    font-size: 15px;
    margin-bottom: 0;
    em {
      color: $purple-main-lighter;
    }
  }
}

.inbox-arrived {
  p {
    font-size: 15px;
    margin-bottom: 0;
    em {
      color: $our-black;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#sent-date {
  font-size: 12px;
  }

#card-title {
  color: $our-black;
  margin-bottom: 0;
  opacity: 0.6;
}

#opened-capsule {
  opacity: 0.6;
}

#unread-capsule {
  background: #AA89CB;
}

#unread-cap-text {
  h2, strong, i {
    animation: color-change 1.5s infinite;
  }

}

@keyframes color-change {
  0% { color: #5A189A; }
  50% { color: #AA89CB; }
  100% { color: #5A189A; }
}

.arrived-and-date {
  display: flex;
}

.date-on-hover h3 {
  opacity: 0;
  color: #d9c3f7;
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 13px;
  margin-left: 80px;

}

#unread-hover {
  &:hover {
    background: #f2eafc;
    border-bottom: 2px solid #f2eafc;
    cursor: pointer;
  }
}

.cap-not-arrived {
  &:hover {
  }
}
