
.inbox-title {
  padding: 20px 60px 0px 40px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-style: normal;
  color: $our-black;
}

.inbox-button {
  display: flex;
  align-items: center;
  justify-content:center;
  background: $purple-main;
  width: 150px;
  height: 48px;
  border-radius: 28px;
  color: #F1F1F1;
  a {
    opacity: 0.77;
  }

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 1.25px;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    opacity: 0.77;
    color: $purple-main-light;
  }
}

.inbox-container {
  position: absolute;
  left: 325px;
  right: 2.15%;
  top: 24%;
  bottom: 4.33%;
  padding: 30px;

  background: #FFFFFF;
  /* 03 dp */

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

#countdown  {
  display: inline;
}
