// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "inbox";
@import "inbox_cards";
@import "drop-shadow";
@import "sidebar";
@import "buttons";
@import "cards";
@import "badges";
@import "login";

.body-container {
  padding-left: 300px;
  padding-top: 20px;
  max-height: 100vh;
}
