// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "inbox";
@import "inbox_cards";
@import "drop-shadow";
@import "sidebar";
@import "buttons";

.body-container {
  margin-left: 300px;
  margin-top: 20px;
  height: 100vh;
}
