.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {

  width: 18%;
}

.navbar-brand{
  flex-grow: 1;
  display: inline-flex;
  align-items: center;

}

.notifications {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1272px;
  top: 25px;
}
