// Styling for profile section of the sidebar

.sidebar {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: $purple-main-light;
  overflow-x: hidden;
  padding-top: 20px;
}

// Profile summary
.profile-container {
  background-color: $purple-main;
  height: 152px;
  margin-top: 63px;
  width: 100%;
  position: relative;
  h4 {
    margin: 0;
    margin-top: 10px;
    font-size: 24px;
  }
}

.avatar-profile {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 0;
}

.sidebar-avatar-default {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 0px;
  background: $purple-main-lighter;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  &:hover {
    opacity: 1;
  }
}

.username {
  color: $our-white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
}

.traveller-info {
  color: $our-white;
  opacity: 0.6;
  font-size: 0.8rem;
}

// Styling for the XP bar
.progress-bar {
  color: $our-white;
  background-color: rgba(90,24,154, 0.6);
  border-radius: 25px;
}

.progress {
  background-color: rgba(241, 241, 241, 0.7);
}

.progress-percentage {
  color: $our-white;
  opacity: 0.6;
  font-size: 0.8rem;

}

// CSS for sidebar tabs

.tabs-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.sidebar-tab {
  opacity: 0.6;
  letter-spacing: 0.1em;
  height: 55px;
  width: auto;
  display: flex;
  align-items: center;
  color: $our-black;
  transition: $standard-transition;

  &:hover {
  border-radius: 60px;
  background-color:  #FFFFFF;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  color: $our-black;
  }
}


.main-icon {
  color: $purple-main;
  font-size: 22px;
}

// add drop shadow to the pill when active (like an active tab)

.active-tab {
  border-radius: 60px;
  background-color:  #FFFFFF;
  opacity: 1;
  text-align: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
