// Styling for profile section of the sidebar

.sidebar {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: $purple-main-light;
  overflow-x: hidden;
  padding-top: 20px;
}

.profile-container {
  background-color: $purple-main;
  height: 160px;
  margin-top: 63px;
  width: 100%;
  position: relative;
}

.avatar-profile {
  position: absolute;
  right: 16px;
  top: 32px;
  z-index: 0;
}

.username {
  color: $our-white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
}

.traveller-info {
  color: $our-white;
  opacity: 0.6;
  font-size: 0.8rem;
}

// Styling for the XP bar (confusing af for now)

.xp-container {
  position: relative;
  width: auto;
}

.xp-container p {
  font-size: 0.8rem;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
}

.progress-bar-main {
  border: 4px solid #FFFFFF;
  border-radius: 25px;
  opacity: 0.6;
  position: absolute;
  bottom: -32px;
  width: 100%;
}

.progress-bar-xp {
  border: 4px solid #FFFFFF;
  border-radius: 25px;
  opacity: 1;
  position: absolute;
  bottom: -32px;
}


// CSS for sidebar tabs

.tabs-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.sidebar-tab {
  opacity: 0.6;
  letter-spacing: 0.1em;
  height: 55px;
  width: auto;
  display: flex;
  align-items: center;

  &:hover {
  border-radius: 60px;
  background-color:  #FFFFFF;
  opacity: 1;
  text-align: left;
  }
}


// add drop shadow to the pill when active (like an active tab)

.main-icon {
  color: $purple-main;
  font-size: 22px;
}

.active-tab {
  border-radius: 60px;
  background-color:  #FFFFFF;
  opacity: 1;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
